apiVersion: 1

providers:
  - name: 'MAX Emulation Dashboards'
    orgId: 1
    folder: 'MAX Emulation'
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: /etc/grafana/dashboards
